<!DOCTYPE html>
<html>
    <head>
        <title>Just-Functional</title>
        <link rel="stylesheet" type="text/css" href="/css/layout.css">
        <script src="/js/main.js"></script>
        {{ header }}
    </head>
    <body>
        <div class="container">
			{{ error-message }}
        </div>
        <div id="footerContainer">
         {{ footer }}
        </div>
    </body>
</html>