<!DOCTYPE html>
<html>
    <head>
        <title>Just-Functional</title>
        <link rel="stylesheet" type="text/css" href="/css/layout.css">
        <script src="/js/main.js"></script>
        {{ header }}
    </head>
    <body>
        <div class="container">
			{{#greet}} Welcome {{name}} !!! {{/greet}} 
			
			<div class="search">
				<form name="input" action="/search" method="post">
					<label for="search" class="grid">Search word:</label>
					<input type="text" class="inputtext" name="search-word" value=""/> 
					<input type="submit" class="button" value="Search"/>					
				</form>
				{{ result }}
			</div>
        </div>
        <div id="footerContainer">
         {{ footer }}
        </div>
    </body>
</html>