<!DOCTYPE html>
<html>
    <head>
        <title>Clos logger</title>
        <link rel="stylesheet" type="text/css" href="/css/layout.css">
        <script src="/js/main.js"></script>
        {{ header }}
    </head>
    <body>
        <div class="container">

		        <a href="/login">Log in</a>
		        <a href="/register">Register</a>

        </div>
        <div id="footerContainer">
         {{ footer }}
        </div>
    </body>
</html>