<!DOCTYPE html>
<html>
    <head>
        <title>Clos logger</title>
        <link rel="stylesheet" type="text/css" href="/css/layout.css">
    </head>
    <body>
        <div class="container">
           <h1>{{ greeting }}</h1>
           <form name="input" action="/home" method="get">
	          <div>
	            <label for="email" class="grid">Email:</label>
	            <input type="text" class="inputtext" name="email" id="email" value=""/>         
	          </div>
	          <div> 
	            <label for="password" class="grid">Password:</label>
	            <input type="password" class="inputtext" name="password" id="password"/>
	          </div> 
	          <div>
	             <input type="submit" class="button" value="Register" id="reg"/>
	             <input type="submit" class="button" value="Log in" id="logIN"/>
	          </div>   
          </form>        
        </div>
    </body>
</html>