<!DOCTYPE html>
<html>
    <head>
        <title>Just-Functional</title>
        <link rel="stylesheet" type="text/css" href="/css/layout.css">
        <script src="/js/main.js"></script>
        
    </head>
    <body>
    	{{&header}}
        <div class="container">

		        <a href="/log-in">Log in</a>
		        <a href="/register">Register</a>

        </div>
        <div id="footerContainer">
         {{&footer}}
        </div>
    </body>
</html>